<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335038769474-s9cl8i2dnnonmv5rrrb4v9calstptd82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335038769474-s9cl8i2dnnonmv5rrrb4v9calstptd82</string>
	<key>API_KEY</key>
	<string>AIzaSyB6w1vYUDyDNvoxWVwgTKDIJe2vPp9MjGw</string>
	<key>GCM_SENDER_ID</key>
	<string>335038769474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elective</string>
	<key>PROJECT_ID</key>
	<string>elective-triatlon</string>
	<key>STORAGE_BUCKET</key>
	<string>elective-triatlon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335038769474:ios:fb0438e36d3ad9a66d00db</string>
</dict>
</plist>